@import 'styles';
@import 'colors';
.footer {
  align-items: center;
  background-color: $pictonBlue;
  display: flex;
  flex-direction: column;
  padding: 40px 20px 20px;
  z-index: 1;

  .footer-title {
    color: white;
    margin: 10px;
    font-size: $text-big;
  }

  .footer-icon {
    height: $nav-height;
  }

  .footer-copyright {
    align-self: flex-end;
    color: white;
    margin: 5px;
    font-size: $text-small;
  }

}