@import 'colors';
@import 'styles';
$tech-logo-size: 100px;

.tech-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.tech {
  background: $green;
  border-radius: 5px;
  position: relative;
  width: 200px;
  height: 300px;
  text-align: center;
  font-size: $text-medium;

  left: 10px;
  
  &::before {
    content: '';
    border-radius: 5px;
    border: 2px solid $green;
    width: 200px;
    height: 300px;
    position: absolute;
    left: -10px;
    top: -10px;
  }

  .tech-icon {
    width: $tech-logo-size;
    height: $tech-logo-size;
  }

  .name {
    font-size: inherit;
  }
  
  .release {
    font-size: inherit;
    font-weight: 800;
  }
  
  .description {
    font-size: inherit;
  }

}