@import 'colors';
@import 'styles';
$tech-logo-size: 100px;

.tech-container {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-flex-flow: row wrap;
}

.tech {
  background: $green;
  border-radius: 5px;
  font-size: $text-medium;
  height: 300px;
  left: 10px;
  margin: 15px;
  padding: 0 10px;
  position: relative;
  text-align: center;
  width: 200px;

  &::before {
    border: 2px solid $green;
    border-radius: 5px;
    content: '';
    height: 300px;
    left: -10px;
    position: absolute;
    top: -10px;
    width: 200px;
    transition: all 0.5s ease;
  }

  &:hover:before {
    left: 10px;
    top: 10px;
  }

  .tech-icon {
    width: $tech-logo-size;
    height: $tech-logo-size;
  }

  .name {
    font-size: inherit;
  }
  
  .release {
    font-size: inherit;
    font-weight: 800;
  }
  
  .description {
    font-size: $text-small;
  }

}