@import 'colors';
@import 'styles';
$tech-logo-size: 100px;
$card-width: 200px;
$card-height: 300px;
$card-border-radius: 5px;

.tech-container {
  display: flex;
  justify-content: space-around;
}

.tech {
  background: $green;
  border-radius: $card-border-radius;
  display: flex;
  font-size: $text-medium;
  height: min-content;
  position: relative;
  padding: 10px;
  text-align: center;
  width: $card-width;
  flex-direction: column;
  align-items: center;

  &::before {
    border: 2px solid $green;
    border-radius: $card-border-radius;
    content: '';
    height: 100%;
    left: -10px;
    position: absolute;
    top: -10px;
    width: $card-width;
    transition: all 0.5s ease;
  }

  &:hover:before {
    left: 10px;
    top: 10px;
  }

  .tech-icon {
    width: $tech-logo-size;
    height: $tech-logo-size;
  }

  .name {
    margin: 10px;
  }
  
  .release {
    margin: 10px;
    font-weight: 800;
  }
  
  .description {
    margin: 10px;
  }

}