$title-decoration-height: 90px;
$title-decoration-width: 70px;

.title {
  background-image: url(assets/triangle.svg);
  background-position: 10px 0;
  background-repeat: no-repeat;
  color: black;
  font-size: larger;
  height: $title-decoration-height;
  margin: 20px 0;
  padding-left: 55px;
  padding-top: 30px;
  position: relative;
}